<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Point Of Sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-searchbar></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size="4" style="--ion-grid-column-padding:0px;">
        <ion-row class="question_list">
          <span class="que_list_item_sel">Global Tag</span>
          <span class="que_list_item">Laravell</span>
          <span class="que_list_item">Laravell 3</span>
          <span class="que_list_item">Laravell 4</span>
          <span class="que_list_item">Laravell 5</span>
          <span class="que_list_item">Laravell 6</span>
        </ion-row>
      </ion-col>
      <ion-col size="8">
        <ion-row class="detail_box">
          <span class="detail_box_span">LoreumipsumumipsumLoreumipsumLoreumipsum</span>
        </ion-row>
        <ion-row class="detail_box2">
          <span class="detail_box_span"></span>
        </ion-row>

        <ion-row class="detail_box3">
          <span class="detail_box_span">1</span>
        </ion-row>
        <ion-row class="detail_box4">
          <span class="detail_box_span">Amesterdam</span>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>