.image_display {
  height: "100%";
  border: 1px solid;
}
.news_opt {
  font-size: 14px;
  color: gray;
}
.news_block {
  margin-top: 17px;
}
.name_display {
  margin-left: 5px;
  color: gray;
}

.img_display {
  width: 70%;
}
.img_opt {
  font-size: 14px;
  text-align: center;
}
