<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="main_row_container">
    <span style="padding-left: 10px;padding-top: 10px">You are signed in as admin123@gmail.com</span>
    <ion-row>
      <button style="background-color: white;padding:10px; margin-left:10px">
        <ion-ripple-effect></ion-ripple-effect>
        Tap to Sign out
      </button>
    </ion-row>
    <ion-row class="header_background">
      <span style="font-weight: bold">Server</span>
    </ion-row>
    <span style="font-size: 16px; padding-left: 10px;padding-top: 10px; color: black">Development</span>
    <span style="font-size: 12px; padding-left: 10px; color: gray; border-bottom: 1px gray">appdev.com</span>
    <ion-row style="height: 1px; background-color:rgb(224, 224, 224);margin-top:5px;margin-bottom: 5px;"></ion-row>
    <span style="font-size: 16px; padding-left: 10px;color: black;">Testing</span>
    <span style="font-size: 12px; padding-left: 10px; color: gray; margin-bottom: 5px;">apptest.com</span>
    <ion-row class="header_background" style="display: flex; flex-direction: row; justify-content: space-between">
      <span style="font-weight: bold">Primary Modules</span>
      <button
        style="background-color:rgb(169, 169, 169);border-radius: 3px;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;">
        <ion-ripple-effect></ion-ripple-effect>
        Done
      </button>
    </ion-row>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Flashcard</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Planner</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>ToDo</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Forum</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Point of Sale</ion-label>
    </ion-item>
  </ion-row>

</ion-content>